h1.navbar-brand
{
	font-size:2em;
}
.body-content
{
	padding-top:70px;
	padding-bottom:100px;
}

footer
{
	position:fixed;
	width:100%;
	bottom:0px;
	height:30px;
	background:#111;
	color:white;
	padding:10px;
	text-align:right;
	z-index:1000;
}

nav
{
	height:60px !important;
}

.navbar-brand
{
	padding: 0px 15px !important;
}

