{#{% load i18n frida_tags %}#}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="IAC Frida">
        <meta name="keywords" content="IAC Frida" />
        <meta name="author" content="IAC Frida" />
        <title>IAC - FRIDA ETC</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="/static/css/frida.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="/static/js/checkHTML5.js"></script>

		<script>
			function change_grating_value()
			{
				lcenter = $('#grating option:selected').attr('aux');
				$('#rating_value').val(lcenter);
			}
			function check_extended_source()
			{
				if ($('input:radio[name=source_type]:checked').val() == 'point')
				{
					$('#extended_source input').attr("disabled", true);
					$('#extended_source select').attr("disabled", true);
					$('#extended_source span').addClass('text-muted');
					$('#extended_source').addClass('collapse');
					$('#point_source input').attr("disabled", false);
					$('#point_source select').attr("disabled", false);
					$('#point_source').removeClass('text-muted');
					$('#point_source').removeClass('collapse');
					$('#point_source').parent().addClass('panel-primary');
					$('#extended_source').parent().removeClass('panel-primary');
					$('#image_quality').removeClass('collapse');
				}
				else
				{
					$('#extended_source input').attr("disabled", false);
					$('#extended_source select').attr("disabled", false);
					$('#extended_source span').removeClass('text-muted');
					$('#extended_source').removeClass('collapse');
					$('#point_source input').attr("disabled", true);
					$('#point_source select').attr("disabled", true);
					$('#point_source').addClass('text-muted');
					$('#point_source').addClass('collapse');
					$('#point_source').parent().removeClass('panel-primary');
					$('#extended_source').parent().addClass('panel-primary');
					$('#image_quality').addClass('collapse');
				}
			}

			function show_help(element)
			{
				help=$(element).find("span");
				help.show();
				help.fadeOut(help.html().split(" ").length*1500);
			}

			function check_collapse (element)
			{
				$(element).parent().parent().find('.panel-body').addClass('collapse');
				$(element).parent().children('.panel-body').removeClass('collapse');
			}


			function check_collapse_from_heading (element)
			{
				check_collapse_from_heading_class(element, 'panel-primary');
			}

			function check_collapse_from_heading_class (element, myclass)
			{
				$(element).parent().parent().parent().find('.panel-body').addClass('collapse');
				$(element).parent().parent().parent().children('.panel').removeClass(myclass);
				$(element).parent().parent().parent().children('.panel').addClass('panel-default');
				$(element).parent().parent().find('.panel-body').removeClass('collapse');
				$(element).parent().parent().addClass(myclass);
			}

			function check_collapse_from_heading_class_v2 (element, myclass, reference_class)
			{
				$('.'+reference_class).removeClass(myclass);
				$('.'+reference_class).addClass('panel-default');
				$(element).parent().parent().addClass(myclass);
			}

			function enable_imaging()
			{
				$('.imaging_dependent').removeClass('hide');
				$('.spec_dependent').addClass('hide');
			}

			function disable_imaging()
			{
				$('.imaging_dependent').addClass('hide');
				$('.spec_dependent').removeClass('hide');
			}

			function enable_ifu()
			{
				$('#ifu_dependent').removeClass('hide');
				disable_imaging();
			}

			function disable_ifu()
			{
				$('#ifu_dependent').addClass('hide');
				enable_imaging();
			}


			function check_section(element, id)
			{
				$('#' + id + ' input').attr("disabled", true);
				$('#' + id + ' select').attr("disabled", true);
				$('#' + id + ' div').children(".list-group-item").addClass('text-muted');
				$(element).parent().find('input').attr("disabled", false);
				$(element).parent().find('select').attr("disabled", false);
				$(element).parent().removeClass('text-muted');
				$('#' + id + ' input:radio').attr("disabled", false);
			}

			

		</script>
    </head>

    <body>
		<div class="container-fluid">
			<nav class="nav navbar-inverse navbar-fixed-top navbar-toggleable-md">
				<div class="visible-lg"> <h1 class="navbar-brand mb-0">Frida. Exposure Time Calculator</h1></div>
				<div class="hidden-lg hidden-sm"> <h1 class="navbar-brand mb-0">Frida. ETC</h1></div>
			</nav>

			<div class="body-content">
			{% block content %}
			{% endblock %}
			</div>

		</div> <!-- /container -->
		<!-- Site footer -->
		<footer class="footer">
			<p class="small">&copy; Shidix Technologies 2018</p>
		</footer>
    </body>
</html>

