{% extends "base.html" %}
{% load fridatags %}
{% block content %}
	<script>
		window.onload = function () {

		var options = {
			exportEnabled: true,
			animationEnabled: false,
			zoomEnabled:true,
			theme:"light2",
			title:{
				text: "Static Response"
			},
			subtitles: [{
				text: ""
			}],
			axisX: {
				title: "\u03BB [\u212B]"
			},
			axisY: {
				title: "",
				titleFontColor: "#4F81BC",
				lineColor: "#4F81BC",
				labelFontColor: "#4F81BC",
				tickColor: "#4F81BC",
				includeZero: false,
				valueFormatString: "0.000"
			},
			toolTip: {
				shared: true
			},
			legend: {
				cursor: "pointer",
				itemclick: toggleDataSeries
			},
			data: [{
				type: "spline",
				name: "QE",
				showInLegend: true,
				xValueFormatString: "#####.## AA",
				yValueFormatString: "0.### ",
				dataPoints: [
					{% for qe_value in static_response.qe %}
						{% with lambda=wave_array|list_value:forloop.counter0 %}
						{ x: {{ lambda.value }}, y: {{qe_value.value}} },
						{% endwith %}
					{% endfor %}
				]
			},
			{
				type: "spline",
				name: "Camera",
				showInLegend: true,
				xValueFormatString: "#####.## AA",
				yValueFormatString: "0.### ",
				dataPoints: [
					{% for my_value in static_response.camera %}
						{% with lambda=wave_array|list_value:forloop.counter0 %}
						{ x: {{ lambda.value }}, y: {{my_value}} },
						{% endwith %}
					{% endfor %}
				]
			},
			{
				type: "spline",
				name: "Collimator",
				showInLegend: true,
				xValueFormatString: "#####.## AA",
				yValueFormatString: "0.### ",
				dataPoints: [
					{% for colli_value in static_response.collimator %}
						{% with lambda=wave_array|list_value:forloop.counter0 %}
						{ x: {{ lambda.value }}, y: {{colli_value}} },
						{% endwith %}
					{% endfor %}
				]
			},
			{
				type: "spline",
				name: "Filter",
				showInLegend: true,
				xValueFormatString: "#####.## AA",
				yValueFormatString: "0.### ",
				dataPoints: [
					{% for filter_trans_value in filter_trans %}
						{% with lambda=filter_trans_wave|list_value:forloop.counter0 %}
						{ x: {{ lambda.value }}, y: {{filter_trans_value}} },
						{% endwith %}
					{% endfor %}
				]
			},
			{
				type: "spline",
				name: "Throughput",
				showInLegend: true,
				xValueFormatString: "#####.## AA",
				yValueFormatString: "0.### ",
				dataPoints: [
					{% for my_value in throughput %}
						{% with lambda=wave_array|list_value:forloop.counter0 %}
						{ x: {{ lambda.value }}, y: {{my_value.value}} },
						{% endwith %}
					{% endfor %}
				]
			}
			]
		};
		$("#chartContainer").CanvasJSChart(options);
		var options_atrans = {
			exportEnabled: true,
			animationEnabled: false,
			zoomEnabled:true,
			theme:"light2",
			title:{
				text: ""
			},
			subtitles: [{
				text: "Atmospheric Transmission"
			}],
			axisX: {
				title: "\u03BB [\u212B]"
			},
			axisY: {
				title: "",
				titleFontColor: "#4F81BC",
				lineColor: "#4F81BC",
				labelFontColor: "#4F81BC",
				tickColor: "#4F81BC",
				includeZero: false,
				valueFormatString: "0.000"
			},
			toolTip: {
				shared: true
			},
			legend: {
				cursor: "pointer",
				itemclick: toggleDataSeries
			},
			data: [{
				type: "spline",
				name: "Atmospheric Transmission",
				showInLegend: true,
				xValueFormatString: "#####.## AA",
				yValueFormatString: "0.### ",
				dataPoints: [
					{% for my_value in atrans %}
						{% with lambda=wave_array|list_value:forloop.counter0 %}
						{ x: {{ lambda.value }}, y: {{my_value}} },
						{% endwith %}
					{% endfor %}
				]
			}
			]
		};
		$("#atransContainer").CanvasJSChart(options_atrans);

		{%comment%}
		var options_global_effic= {
			exportEnabled: true,
			animationEnabled: false,
			zoomEnabled:true,
			theme:"light2",
			title:{
				text: "Global Effic"
			},
			subtitles: [{
				text: "Click Legend to Hide or Unhide Data Series"
			}],
			axisX: {
				title: "\u03BB [\u212B]"
			},
			axisY: {
				title: "",
				titleFontColor: "#4F81BC",
				lineColor: "#4F81BC",
				labelFontColor: "#4F81BC",
				tickColor: "#4F81BC",
				includeZero: false,
				valueFormatString: "0.000"
			},
			toolTip: {
				shared: true
			},
			legend: {
				cursor: "pointer",
				itemclick: toggleDataSeries
			},
			data: [{
				type: "spline",
				name: "Global Effic",
				showInLegend: true,
				xValueFormatString: "#####.## AA",
				yValueFormatString: "0.### ",
				dataPoints: [
					{% for my_value in global_effic %}
						{% with lambda=wave_array|list_value:forloop.counter0 %}
						{ x: {{ lambda.value }}, y: {{my_value.value}} },
						{% endwith %}
					{% endfor %}
				]
			}
			]
		};
		$("#global_efficContainer").CanvasJSChart(options_global_effic);
		{%endcomment%}
		var options_sky_rad= {
			exportEnabled: true,
			animationEnabled: false,
			zoomEnabled:true,
			theme:"light2",
			title:{
				text: "Sky Radiance"
			},
			subtitles: [{
				text: "Click Legend to Hide or Unhide Data Series"
			}],
			axisX: {
				title: "\u03BB [\u212B]"
			},
			axisY: {
				title: "",
				titleFontColor: "#4F81BC",
				lineColor: "#4F81BC",
				labelFontColor: "#4F81BC",
				tickColor: "#4F81BC",
				includeZero: false,
				valueFormatString: "0.000"
			},
			toolTip: {
				shared: true
			},
			legend: {
				cursor: "pointer",
				itemclick: toggleDataSeries
			},
			data: [{
				type: "spline",
				name: "Sky Radiance",
				showInLegend: true,
				xValueFormatString: "#####.## AA",
				yValueFormatString: "0.###",
				dataPoints: [
					{% for my_value in sky_rad %}
						{% with lambda=wave_array|list_value:forloop.counter0 %}
						{ x: {{ lambda.value }}, y: {{my_value.value}} },
						{% endwith %}
					{% endfor %}
				]
			}
			]
		};
		$("#sky_radContainer").CanvasJSChart(options_sky_rad);

		var options_snr= {
			exportEnabled: true,
			animationEnabled: false,
			zoomEnabled:true,
			theme:"light2",
			title:{
				text: "SNR"
			},
			subtitles: [{
				text: "Click Legend to Hide or Unhide Data Series"
			}],
			axisX: {
				title: "t [s]"
			},
			axisY: {
				title: "S/N",
				titleFontColor: "#4F81BC",
				lineColor: "#4F81BC",
				labelFontColor: "#4F81BC",
				tickColor: "#4F81BC",
				includeZero: false,
				valueFormatString: "#0.00"
			},
			toolTip: {
				shared: true
			},
			legend: {
				cursor: "pointer",
				itemclick: toggleDataSeries
			},
			data: [{
				type: "spline",
				name: "S/N",
				showInLegend: true,
				xValueFormatString: "##### s",
				yValueFormatString: "#0.00",
				dataPoints: [
					{% for my_value in snr %}
						{% with lambda=texp_array|list_value:forloop.counter0 %}
						{ x: {{ lambda|astro_unit_value:'s' }}, y: {{my_value}} },
						{% endwith %}
					{% endfor %}
				]
			}
			]
		};
		$("#snrContainer").CanvasJSChart(options_snr);

		function toggleDataSeries(e) {
			if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
				e.dataSeries.visible = false;
			} else {
				e.dataSeries.visible = true;
			}
			e.chart.render();
		}

		}
	</script>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="col-xs-12">
				<ul class="list-group">
					<li class="list-group-item active">Target Setup</li>
					<li class="list-group-item"> Spatially integrated brightness <span class="badge">{{ target_info.Band }} = {{ target_info.Magnitude }} {{target_info.MagSystem}} </span> </li>
					<li class="list-group-item"> Flux distribution type <span class="badge"> {{ target_info.energy_type }}</span> </li>
					<li class="list-group-item"> Geometry <span class="badge"> {{ target_info.source_type}} </span> </li>
				</ul>
			</div>
			<div class="col-xs-12">
				<ul class="list-group">
					<li class="list-group-item active">Sky Conditions</li>
					<li class="list-group-item"> Airmass <span class="badge">{{ sky_conditions.airmass }}</span> </li>
					<li class="list-group-item"> Seeing <span class="badge"> {{ sky_conditions.seeing }}</span> </li>
				</ul>
			</div>
			<div class="col-xs-12">
				<ul class="list-group">
					<li class="list-group-item active">AO NGS Setup</li>
					<li class="list-group-item"> Reference star magnitude (R Band)<span class="badge"> {{ guide_star.Magnitude }}</span> </li>
					<li class="list-group-item"> Reference star/target Separation <span class="badge"> {{ guide_star.Separation }}</span> </li>
				</ul>
			</div>
			<div class="col-xs-12">
				<ul class="list-group">
					<li class="list-group-item active">Instrument Setup</li>
					<li class="list-group-item"> Angular resolution scale <span class="badge">{{ frida_setup.pixscale|astro_unit_value:'mas' }} mas/pix </span> </li>
					<li class="list-group-item"> Camera Filter <span class="badge"> {{ obs_filter.info.Name }}</span> </li>
					<li class="list-group-item"> Reference star/target Separation <span class="badge"> {{ guide_star.Separation }}</span> </li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-12" >
				<ul class="list-group">
					<li class="list-group-item active">Observation Setup</li>
					<li class="list-group-item"> &nbsp; </li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-md-6" >
			<div class="col-xs-12">
				<ul class="list-group">
					<li class="list-group-item list-group-item-danger">Transmission Model</li>
					<li class="list-group-item"> 
						Signal to Noise at {{ total_exposure_time }} <span class="badge">{{ signal_noise_req | floatformat:1}}</span>
					</li>
					<li class="list-group-item"> 
						Detector Integration Time for one exposure <span class="badge">{{ dit }}</span>
					</li>
					<li class="list-group-item"> 
						Number of detector integrations (rounded up) <span class="badge">{{ ndit }}</span>
					</li>
					<li class="list-group-item"> 
						Total exposure time <span class="badge">{{ total_exposure_time }}</span>
					</li>
					<li class="list-group-item"> 
						<i class="fa fa-warning text-danger"></i> Max. intensity at central pixel per DIT (object+sky)  <span class="badge">{{ signal_noise_req }}</span>
					</li>
					<li class="list-group-item"> 
						<i class="fa fa-warning text-danger"></i> Detector linearity/flat-fielding limit (for this DIT) <span class="badge">{{ dit }}</span>
					</li>
					<li class="list-group-item"> 
						<i class="fa fa-warning text-danger"></i> Detector saturation limit (e<sup>-</sup>) <span class="badge">{{ ndit }}</span>
					</li>
					<li class="list-group-item "> 
						Aperture Radius (defining the S/N reference area) <span class="badge">{{ Aperture_radius|astro_unit_value:'mas'|floatformat:0 }} mas</span>
					</li>
					<li class="list-group-item"> 
						Number of pixels in Aperture <span class="badge">{{ AreaNpix|floatformat:0 }} pixels</span>
					</li>
					<li class="list-group-item"> 
						<i class="fa fa-warning text-danger"></i> Total number of e<sup>-</sup> in Aperture (object only)<span class="badge">????</span>
					</li>
					<li class="list-group-item"> 
						<i class="fa fa-warning text-danger"></i> Total number of e<sup>-</sup> in Aperture per DIT (object only, 1 DIT) <span class="badge">????</span>
					</li>
					<li class="list-group-item"> 
						<i class="fa fa-warning text-danger"></i> Background (1 DIT) <span class="badge">{{ signal_noise_req }}</span>
					</li>
					<li class="list-group-item"> 
						<i class="fa fa-warning text-danger"></i> Limiting magnitude (S/N=3) <span class="badge">{{ dit }}</span>
					</li>
					<li class="list-group-item"> 
						<i class="fa fa-warning text-danger"></i> BLIP integration time <span class="badge">{{ ndit }}</span>
					</li>
					<li class="list-group-item"> 
						Strehl Ratio (Target)  <span class="badge">{{ strehl_ratio.0|percentage|floatformat }}%</span>
					</li>
					<li class="list-group-item"> 
						Encircled Energy (Target)  <span class="badge">{{ encircled_energy.0|percentage|floatformat }}%</span>
					</li>
					<li class="list-group-item"> 
						<i class="fa fa-warning text-danger"></i> Estimated {{ filter.Name }}-band ( {{ target_info.lambda_band }} ) on-axis Strehl Ratio  <span class="badge">{{ ndit }}</span>
					</li>
					<li class="list-group-item"> 
						Pixel scale in arcsec/pixel <span class="badge">{{ frida_setup.pixscale|astro_unit_value:'mas'|floatformat }} mas</span>
					</li>
					<li class="list-group-item"> 
						Overall transmission at {{ obs_filter.wave_median|astro_unit:'AA'}}<span class="badge">{{ throughput_lambda|astro_unit_value|floatformat:2 }} {{throughput_lambda.unit}}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="col-xs-12">
				<ul class="list-group">
					<li class="list-group-item list-group-item-info">Intermediate Values</li>
					<li class="list-group-item"> Encircled Energy <span class="badge">{{ encircled_energy }}</span> </li>
					<li class="list-group-item"> Aperture radius <span class="badge">{{ Aperture_radius|astro_unit:'mas' }}</span> </li>
					<li class="list-group-item"> Npix <span class="badge">{{ AreaNpix }}</span> </li>
					<li class="list-group-item"> pixscale <span class="badge">{{ Pixscale }}</span> </li>
					<li class="list-group-item"> Target Photons / s <span class="badge">{{ detected_photons_from_source }}</span> </li>
					<li class="list-group-item"> Sky Photons  /(s sqr.arcsec)<span class="badge">{{ detected_photons_from_sky_sqarcsec }}</span> </li>
					<li class="list-group-item"> PhotonNoise per components per unit time<span class="badge">{{ photons_noise }}</span> </li>
					<li class="list-group-item"> Atmospfheric Transmission <span class="badge">{{ atmospheric_transmission }}</span> </li>
					<li class="list-group-item"> Efficiency <span class="badge">{{ efficiency }}</span> </li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="col-xs-12" >
				<div class="panel panel-info">
					<div class="panel-heading">Image</div>
					<div class="panel-body">
						<img class="img-fluid" width="100%" src="/media/{{img_name}}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Static Response</div>
				<div class="panel-body">
					<div id="chartContainer" style="height: 400px; max-width: 920px; width:100%; margin: 0px auto;"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Atmospheric Transmission</div>
				<div class="panel-body">
					<div id="atransContainer" style="height:400px; max-width: 920px; width:100%; margin: 0px auto;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Sky Radiance</div>
				<div class="panel-body">
					<div id="sky_radContainer" style="height:400px; max-width:920px; width:100%; margin: 0px auto;"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">SNR</div>
				<div class="panel-body">
					<div id="snrContainer" style="height: 400px; max-width: 920px; width:100%; margin: 0px auto;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-group">
			{% for value in debug_values %}
			<li class="list-group-item">{{ value }} {{ debug_values|list_value:value }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
{% endblock %}
