{% extends "base.html" %}
{% load fridatags %}
{% block content %}
	<script>
	window.onload = function () {

	var options = {
		exportEnabled: true,
		animationEnabled: false,
		zoomEnabled:true,
		theme:"light2",
		title:{
			text: "Static Response"
		},
		subtitles: [{
			text: ""
		}],
		axisX: {
			title: "\u03BB [\u212B]"
		},
		axisY: {
			title: "",
			titleFontColor: "#4F81BC",
			lineColor: "#4F81BC",
			labelFontColor: "#4F81BC",
			tickColor: "#4F81BC",
			includeZero: false,
			valueFormatString: "0.000"
		},
		toolTip: {
			shared: true
		},
		legend: {
			cursor: "pointer",
			itemclick: toggleDataSeries
		},
		data: [{
			type: "spline",
			name: "QE",
			showInLegend: true,
			xValueFormatString: "#####.## AA",
			yValueFormatString: "0.### ",
			dataPoints: [
				{% for qe_value in static_response.qe %}
					{% with lambda=wave_array|list_value:forloop.counter0 %}
					{ x: {{ lambda.value }}, y: {{qe_value.value}} },
					{% endwith %}
				{% endfor %}
			]
		},
		{
			type: "spline",
			name: "Camera",
			showInLegend: true,
			xValueFormatString: "#####.## AA",
			yValueFormatString: "0.### ",
			dataPoints: [
				{% for my_value in static_response.camera %}
					{% with lambda=wave_array|list_value:forloop.counter0 %}
					{ x: {{ lambda.value }}, y: {{my_value}} },
					{% endwith %}
				{% endfor %}
			]
		},
		{
			type: "spline",
			name: "Collimator",
			showInLegend: true,
			xValueFormatString: "#####.## AA",
			yValueFormatString: "0.### ",
			dataPoints: [
				{% for colli_value in static_response.collimator %}
					{% with lambda=wave_array|list_value:forloop.counter0 %}
					{ x: {{ lambda.value }}, y: {{colli_value}} },
					{% endwith %}
				{% endfor %}
			]
		},
		{
			type: "spline",
			name: "Throughput",
			showInLegend: true,
			xValueFormatString: "#####.## AA",
			yValueFormatString: "0.### ",
			dataPoints: [
				{% for my_value in throughput %}
					{% with lambda=wave_array|list_value:forloop.counter0 %}
					{ x: {{ lambda.value }}, y: {{my_value.value}} },
					{% endwith %}
				{% endfor %}
			]
		}
		]
	};
	$("#chartContainer").CanvasJSChart(options);
	var options_atrans = {
		exportEnabled: true,
		animationEnabled: false,
		zoomEnabled:true,
		theme:"light2",
		title:{
			text: ""
		},
		subtitles: [{
			text: "Atmospheric Transmission"
		}],
		axisX: {
			title: "\u03BB [\u212B]"
		},
		axisY: {
			title: "",
			titleFontColor: "#4F81BC",
			lineColor: "#4F81BC",
			labelFontColor: "#4F81BC",
			tickColor: "#4F81BC",
			includeZero: false,
			valueFormatString: "0.000"
		},
		toolTip: {
			shared: true
		},
		legend: {
			cursor: "pointer",
			itemclick: toggleDataSeries
		},
		data: [{
			type: "spline",
			name: "Atmospheric Transmission",
			showInLegend: true,
			xValueFormatString: "#####.## AA",
			yValueFormatString: "0.### ",
			dataPoints: [
				{% for my_value in atrans %}
					{% with lambda=wave_array|list_value:forloop.counter0 %}
					{ x: {{ lambda.value }}, y: {{my_value}} },
					{% endwith %}
				{% endfor %}
			]
		}
		]
	};
	$("#atransContainer").CanvasJSChart(options_atrans);

	{%comment%}
	var options_global_effic= {
		exportEnabled: true,
		animationEnabled: false,
		zoomEnabled:true,
		theme:"light2",
		title:{
			text: "Global Effic"
		},
		subtitles: [{
			text: "Click Legend to Hide or Unhide Data Series"
		}],
		axisX: {
			title: "\u03BB [\u212B]"
		},
		axisY: {
			title: "",
			titleFontColor: "#4F81BC",
			lineColor: "#4F81BC",
			labelFontColor: "#4F81BC",
			tickColor: "#4F81BC",
			includeZero: false,
			valueFormatString: "0.000"
		},
		toolTip: {
			shared: true
		},
		legend: {
			cursor: "pointer",
			itemclick: toggleDataSeries
		},
		data: [{
			type: "spline",
			name: "Global Effic",
			showInLegend: true,
			xValueFormatString: "#####.## AA",
			yValueFormatString: "0.### ",
			dataPoints: [
				{% for my_value in global_effic %}
					{% with lambda=wave_array|list_value:forloop.counter0 %}
					{ x: {{ lambda.value }}, y: {{my_value.value}} },
					{% endwith %}
				{% endfor %}
			]
		}
		]
	};
	$("#global_efficContainer").CanvasJSChart(options_global_effic);
	{%endcomment%}
	var options_sky_rad= {
		exportEnabled: true,
		animationEnabled: false,
		zoomEnabled:true,
		theme:"light2",
		title:{
			text: "Sky Radiance"
		},
		subtitles: [{
			text: "Click Legend to Hide or Unhide Data Series"
		}],
		axisX: {
			title: "\u03BB [\u212B]"
		},
		axisY: {
			title: "",
			titleFontColor: "#4F81BC",
			lineColor: "#4F81BC",
			labelFontColor: "#4F81BC",
			tickColor: "#4F81BC",
			includeZero: false,
			valueFormatString: "0.000"
		},
		toolTip: {
			shared: true
		},
		legend: {
			cursor: "pointer",
			itemclick: toggleDataSeries
		},
		data: [{
			type: "spline",
			name: "Sky Radiance",
			showInLegend: true,
			xValueFormatString: "#####.## AA",
			yValueFormatString: "0.###",
			dataPoints: [
				{% for my_value in sky_rad %}
					{% with lambda=wave_array|list_value:forloop.counter0 %}
					{ x: {{ lambda.value }}, y: {{my_value}} },
					{% endwith %}
				{% endfor %}
			]
		}
		]
	};
	$("#sky_radContainer").CanvasJSChart(options_sky_rad);
	{% comment %}
	var options_photons_obj= {
		exportEnabled: true,
		animationEnabled: false,
		zoomEnabled:true,
		theme:"light2",
		title:{
			text: "Photons"
		},
		subtitles: [{
			text: "Click Legend to Hide or Unhide Data Series"
		}],
		axisX: {
			title: "\u03BB [\u212B]"
		},
		axisY: {
			title: "[{{photons_obj.unit}}]",
			titleFontColor: "#4F81BC",
			lineColor: "#4F81BC",
			labelFontColor: "#4F81BC",
			tickColor: "#4F81BC",
			includeZero: false,
			valueFormatString: "#.000E+0"
		},
		toolTip: {
			shared: true
		},
		legend: {
			cursor: "pointer",
			itemclick: toggleDataSeries
		},
		data: [{
			type: "spline",
			name: "Photons",
			showInLegend: true,
			xValueFormatString: "#####.## AA",
			yValueFormatString: "#.000E+0",
			dataPoints: [
				{% for my_value in photons_obj %}
					{% with lambda=wave_array|list_value:forloop.counter0 %}
					{ x: {{ lambda|astro_unit_value:'AA' }}, y: {{my_value.value}} },
					{% endwith %}
				{% endfor %}
			]
		}
		]
	};
	$("#photons_objContainer").CanvasJSChart(options_photons_obj);

	{% endcomment %}
	var options_snr= {
		exportEnabled: true,
		animationEnabled: false,
		zoomEnabled:true,
		theme:"light2",
		title:{
			text: "SNR"
		},
		subtitles: [{
			text: "Click Legend to Hide or Unhide Data Series"
		}],
		axisX: {
			title: "t [s]"
		},
		axisY: {
			title: "S/N",
			titleFontColor: "#4F81BC",
			lineColor: "#4F81BC",
			labelFontColor: "#4F81BC",
			tickColor: "#4F81BC",
			includeZero: false,
			valueFormatString: "#0.00"
		},
		toolTip: {
			shared: true
		},
		legend: {
			cursor: "pointer",
			itemclick: toggleDataSeries
		},
		data: [{
			type: "spline",
			name: "S/N",
			showInLegend: true,
			xValueFormatString: "#####.## AA",
			yValueFormatString: "#0.00",
			dataPoints: [
				{% for my_value in snr %}
					{% with lambda=texp_array|list_value:forloop.counter0 %}
					{ x: {{ lambda|astro_unit_value:'s' }}, y: {{my_value.value}} },
					{% endwith %}
				{% endfor %}
			]
		}
		]
	};
	$("#snrContainer").CanvasJSChart(options_snr);

	function toggleDataSeries(e) {
		if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
			e.dataSeries.visible = false;
		} else {
			e.dataSeries.visible = true;
		}
		e.chart.render();
	}

	}
	</script>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Static Response</div>
				<div class="panel-body">
					<div id="chartContainer" style="height: 400px; max-width: 920px; width:100%; margin: 0px auto;"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Atmospheric Transmission</div>
				<div class="panel-body">
					<div id="atransContainer" style="height:400px; max-width: 920px; width:100%; margin: 0px auto;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Sky Radiance</div>
				<div class="panel-body">
					<div id="sky_radContainer" style="height:400px; max-width:920px; width:100%; margin: 0px auto;"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">SNR</div>
				<div class="panel-body">
					<div id="snrContainer" style="height: 400px; max-width: 920px; width:100%; margin: 0px auto;"></div>
				</div>
			</div>
		</div>
	</div>
	{% comment %}
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Global Effic</div>
				<div class="panel-body">
					<div id="global_efficContainer" style="height: 400px; max-width: 920px; width:100%; margin: 0px auto;"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Photons</div>
				<div class="panel-body">
					<div id="photons_objContainer" style="height: 400px; max-width: 920px; width:100%; margin: 0px auto;"></div>
				</div>
			</div>
		</div>
	</div>
	{% endcomment %}
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-group">
			{% for value in debug_values %}
			<li class="list-group-item">{{ value }} {{ debug_values|list_value:value }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
{% endblock %}
