{% extends "base.html" %}
{%block content%}

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="calculation-method">
<h1>Calculation Method<a class="headerlink" href="#calculation-method" title="Permalink to this headline">¶</a></h1>
<p>There are two basic modes to perform the calculation:
- compute the total integration time required to achieve the requested S/N for an observation, after specifying the
individual frame detector integration time. In the case of spectroscopy a reference wavelength should be specified, by default the center of the spectral range will be used.
- compute the total Signal-to-noise ratio for an observation after specifying the individual frame integration time and the number of frames.</p>
<p>In both modes and for a point source the computation will done using the source flux integrated over a reference area defined as a factor of teh FHWM of the PSF core (parameter fcore).
In the case of an extended source the S/N will be computed in the area of 1 pixel.</p>
<p>[INCLUDE HERE THE FORMULAE]</p>
</div>
          </div>
        </div>
      </div>
      </div>



{%endblock%}
