{% extends "base.html" %}
{%block content%}

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="gtc-adaptive-optics">
<h1>GTC Adaptive Optics<a class="headerlink" href="#gtc-adaptive-optics" title="Permalink to this headline">¶</a></h1>
<p>The ability of the AO system to correct the wavefront depends on the brightness and off-axis angle of the wavefront reference source (the AO “guide star”).
The point spread function is computed as the sum of the GTC-AO corrected core and the uncorrected (seeing-limited) halo. The core is modeelled as an Airy function, which varies with the wavelength. The halo component is modelled as a Gaussian function with FWHM varying as the seeing.
The Strehl ratio determines the relative scaling between core and halo components.
The Strehl ratio varies mostly with the seeing value and the brightness of the Guide Star. There is also a less relevant variation with the airmass and the separation of the Guide Star from the center of the Field of View.</p>
</div>


          </div>
        </div>
      </div>
      </div>

    

{%endblock%}
