{% extends "base.html" %}
{%block content%}
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="spectral-distribution">
<h1 class="alert alert-info">Spectral distribution<a class="headerlink" href="#spectral-distribution" title="Permalink to this headline">¶</a></h1>
<p>The source spectrum is selected from predefined spectra (black-body or power-law), available libraries of stellar and non-stellar spectra, a user-defined spectra and an emission line can also be added.</p>
<div class="section" id="stellar-library">
<h2>Stellar library<a class="headerlink" href="#stellar-library" title="Permalink to this headline">¶</a></h2>
<p>The Pickles (1998; PASP, 110, 863) stellar library covers optical and near-IR wavelengths out to 2.5um across a broad range of spectral types (O5 to M9) and luminosity classes (I, III and V).</p>
</div>
<div class="section" id="non-stellar-library">
<h2>Non-Stellar library<a class="headerlink" href="#non-stellar-library" title="Permalink to this headline">¶</a></h2>
<p>Elliptical galaxy - a template spectrum (class T=-5, -4) covering the wavelength range 22 - 10000 nm and taken from the Pegase Atlas
of Galaxies by Fioc &amp; Rocca-Volmerange (1997).
Spiral galaxy
QSO -
QSO2 -
HII region - covers the wavelength range 100 - 1100 nm and was taken from the HST STIS exposure time calculator. The spectrum has a sampling of 0.05nm.
NGC 7009 - covers the wavelength range 100 - 1100 nm and was taken from the HST STIS exposure time calculator. The spectrum has a sampling of 0.05nm.
IC5117 covers the wavelength range 480 - 2500 nm and is taken from correspondence with Rick Rudy, based on Rudy et al. (2001, AJ, 121, 362).  The spectrum has a sampling of 0.05nm.</p>
</div>
</div>
<div class="section" id="source-brightness">
<h1>Source Brightness<a class="headerlink" href="#source-brightness" title="Permalink to this headline">¶</a></h1>
<p>The source flux density is specified in magnitudes at a given band. The source spectrum is scaled using these value with the corresponding spectral energy distribution.
An insterstellar extinction curve can be applied (the curve … will be used) [NOT YET AVAILABLE].
The spectral energy distribution can be shifted in wavelength using either a redshift value or a radial velocity.</p>
</div>
<div class="section" id="spatial-profile">
<h1>Spatial Profile<a class="headerlink" href="#spatial-profile" title="Permalink to this headline">¶</a></h1>
<p>A source geometry can be selected: either a point source or an extended source.
Different morphologies</p>
</div>


</div>
</div>
</div>
    </div>
{%endblock%}
