<div class="row">
	<div class="col-xs-12 col-md-3">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<strong>Observing mode: </strong> 
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 "> <input type="radio" name="observation_mode" id="direct_imaging" value="DI" onchange="disable_ifu();" checked> Direct Imaging </div>
							<div class="col-md-12 "> <input type="radio" name="observation_mode" id="ifs" value="IFS" onchange="enable_ifu()" > Integral Field Spectroscopy </div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-12">
				<div class="panel panel-primary imaging_dependent">
					<div class="panel-heading">
						<strong>Filter:</strong>
					</div>
					<div class="panel-body">
						<div class="col-md-8 col-md-offset-2 col-xs-12">
							<select class="form-control form-control-sm" name="filter" id="filter" onchange="get_dif_limit();">
							{% for filter in list_filters %}
							<option value='{{ filter.Code }}'>{{ filter.Name }}</option><span class="hide" id="code_{{filter.code}}">{{filter.Difr_limit}}</span>
							{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="panel panel-primary spec_dependent hide">
					<div class="panel-heading">
						<strong>Grating [&#8491;]:</strong>
					</div>
					<div class="panel-body">
						<div class="col-xs-12 col-md-6 ">
							<select class="form-control" name="grating" id="grating" onChange="change_grating_value();">
								{% for grating in list_gratings %}
									<option value='{{ grating.Name }}' aux='{{ grating.Central_Wave }}'>{{ grating.Name }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-xs-12 col-md-6 text-left">
							<input type="text" class="form-control" id="rating_value" name="grating_value" >
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<strong>Instrument scale:</strong>
					</div>
					<div class="panel-body">
						<div class="col-xs-12 ">
							<input type="radio" name="scale" id="Fine Scale (10 mas/pix)" value="fine_scale" checked> Fine (10 mas/pix)
						</div>
						<div class="col-xs-12 ">
							<input type="radio" name="scale" id="Medium Scale (20 mas/pix)" value="medium_scale"> Medium (20 mas/pix)
						</div>
						<div class="col-xs-12 ">
							<input type="radio" name="scale" id="Coarse Scale (40 mas/pix)" value="coarse_scale"> Coarse (40 mas/pix)
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-9">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<strong>Calculation method:</strong> <a href="#" class="badge">more info</a>
			</div>
			<div class="panel-body">
				<div class="col-xs-12 col-md-4 col-lg-4">
					<div class="panel panel-default">
						<div class="panel-heading text-center ">&nbsp;
								
						</div>
						<div class="panel-body">
							<div class="col-xs-6 col-md-6 ">
								<label for="signal_noise"><input class="" type="radio" name="type_results" value="SN_ratio" checked /> S/N</label>
								<input class="form-control" type="number" id="signal_noise" name="signal_noise" value="5.0" step="0.5" />
							</div>
							<div class="col-xs-6 col-md-6">
								<label for="N_exp"> <input class="" type="radio" name="type_results" value="exposure_time"/> NDIT </label>
								<input class="form-control" type="number" name="N_exp" id="N_exp" value="10"/>
							</div>
							<div class="col-xs-12 col-md-6">
								<label for="DIT_exp" >DIT (seconds)</label>
								<input class="form-control" type="number" name="DIT_exp" id="DIT_exp" value="20.0" step="0.5"/>
							</div>
							<div class="col-xs-12 col-md-6">
								<label for="dit_pattern"> DIT Pattern </label>
								<input class="form-control" type="number" name="dit_pattern" id="dit_pattern" value="1" disabled/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-8 col-lg-8 ifu-dependent hide">
					<div class="panel panel-default">
						<div class="panel-heading">&nbsp;</div>
						<div class="panel-body">
							<label for="dit_pattern"> &lambda; ref [&#8491;]</label>
							<input class="form-control" type="number" name="ifs_lambda_ref" id="ifs_lambda_ref" value="1" />
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-12 col-lg-6 ">
					<div class="panel panel-default">
						<div class="panel-heading text-center ">Aperture Radius</div>
						<div class="panel-body">
							<div class="col-xs-12 col-md-4">
								<label for="fcore"> Factor </label>
								<input class="form-control" type="number" name="fcore" id="fcore" value="1.5" step="0.01"/>
							</div> 
							<div class="col-xs-12 col-md-4">
								<label>x &lambda;/D [mas] </label>
								 <input class="form-control" type="text" name="limit" disabled value="0" id="fcore_fix">
							</div>
							<div class="col-xs-12 col-md-4">
								<label>=Aperure Radius </label>
								 <input class="form-control" type="text" disabled value="0" id="fcore_fix" name="aperture">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 form-inline imaging_dependent">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<strong>Output:</strong>
					</div>
					<div class="panel-body">
						<div class="row " id="naco">
							<div class="col-xs-3 text-center"> <input type="checkbox" name="addnoise" checked/> Add noise to PSF</div>
							<div class="col-xs-3 text-center"> <input type="checkbox" name="2d_psf" checked/> 2-D PSF image (png and FITS) (point source only)</div>
							<div class="col-xs-3 text-center"> <input type="checkbox" name="enc_energy_aperture_radius" /> Encircled Energy as a function of Aperture Radius (point source only)</div>
							<div class="col-xs-3 text-center"> <input type="checkbox" name="sn_as_exp_time" checked/> S/N as a function of Exposure Time </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-10 col-md-11">
		<input type="submit" class="btn btn-lg btn-warning btn-block" value="Calculate" />
	</div>
	<div class="col-xs-2 col-md-1"> <a class="btn btn-primary btn-block btn-lg" target="_blank" href="{%url 'docs-p3'%}"><i class="fa fa-question"></i></a></div>
</div>
<script>
	change_grating_value();
</script>
