{%load fridatags %}
<div class="row">
	<div class="col-xs-12 col-md-3 form-inline">
		<div class="panel panel-primary">
			<div class="panel-heading"> <strong>Spectral distribution: <a href="{% url 'docs-p1' %}#spectral-distribution" class="badge"> more info </a></strong></div>
			<div class="panel-body">
				<div class="panel panel-info">
					<div class="panel-heading">
						<input type="radio" name="spectral_type" id="spectral_type" value="black_body"  onclick="check_collapse_from_heading_class(this,'panel-info');" checked="checked"> &nbsp; Black body spectrum
					</div>
					<div class="panel-body">
						<label for="temperature">Temperature (K)</label>
					  	<input type="number" class="form-control" id="temperature" value=10000 name="temperature" placeholder="10000" min="100" max="50000">
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<input type="radio" name="spectral_type" id="spectral_type" value="power_law"  onclick="check_collapse_from_heading_class(this,'panel-info');"> Power-law spectrum. 
					</div>
					<div class="panel-body collapse">
						<label for="pl_index"> S<sub>&lambda;</sub> = &lambda; ^ </label>
						<input type="number" class="form-control" id="pl_index" name="pl_index" placeholder="1.0" min="-4.0" max="4.0" step="0.1">
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<input type="radio" name="spectral_type" id="spectral_type" value="stellar_template" onchange="check_collapse_from_heading_class(this,'panel-info');">
						Library spectrum of a start with spectral type 
					</div>
					<div class="panel-body collapse">
						<select class="form-control" name="star_type" id="star_type">
							{% for pickles in list_pickles %}
							<option value='{{ pickles.sed_file}}' >{{ pickles.Label}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<input type="radio" name="spectral_type" id="spectral_type" value="user"  onclick="check_collapse_from_heading_class(this,'panel-info');">
						User-defined spectrum read from file 
					</div>
					<div class="panel-body collapse">
						<input type="file" class="form-control" id="user_file" name="user_file" aria-describedby="user_file_help">
						<br/>
						<small id="user_file_help" class="form-text text-muted">Size &lt; 1MB</small>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<input type="radio" name="spectral_type" id="spectral_type" value="non-stellar-lib" onclick="check_collapse_from_heading_class(this,'panel-info');"> Library spectrum of a non-stellar object
					</div>
					<div class="panel-body collapse form-inline">
						<select class="form-control" name="st_non_stellar" id="st_non_stellar">
							{% for nonstellar in list_nonstellar %}
							<option class="small" value='{{ nonstellar.sed_file}}' >{{ nonstellar.Label|ellipsis_text:17 }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
            </div>
        </div>
		<div class="panel panel-primary">
			<div class="panel-heading"> <strong>Single emission line: <a href="{% url 'docs-p1' %}#spectral-distribution" class="badge"> more info </a></strong></div>
			<div class="panel-body">
				<div class="panel panel-default">
					<div class="panel-heading">
						<input type="checkbox" name="single_emission_line" value="single_emission"  onclick="check_collapse_from_heading_class(this,'panel-info');">
						Single emission line 
					</div>
					<div class="panel-body collapse">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-5 text-left"> <label for="st_wavelength">Wavelength (&mu;)</label> </div>
								<div class="col-xs-7 text-left">
									<input type="number" class="form-control" id="st_wavelength" name="st_wavelength" placeholder="2.2" >
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-md-5 text-left"> <label for="st_flux">Line flux</label> </div>
								<div class="col-md-7 text-left"> <input type="text" class="form-control" id="st_flux" name="st_flux" placeholder="5.0e-19"> </div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-md-5 text-left"><label for="st_units">Flux Units</label></div>
								<div class="col-md-7 text-left">
									<select class="form-control" name="st_flux_units" id="st_flux_units">
										<option value="si">W/m^2</option>
										<option value="cgs">erg/cm^2/s</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-md-5 text-left"><label for="st_velocity">Velocity (Km/s)</div>
								<div class="col-md-7 text-left"><input type="text" class="form-control" id="st_velocity" name="st_velocity" placeholder="500.0"></div>
							</div>
						</div>
                        {% comment %}
						<div class="col-xs-12">
							<div class="row">
								<div class="col-md-5"><label for="st_flux_density">Continuum</label></div>
								<div class="col-md-7"> <input type="text" class="form-control" id="st_flux_density" name="st_flux_density" placeholder="1.0e-16"></div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-md-5"><label for="st_unit_flux_density">Continuum units</label></div>
								<div class="col-md-7 text-left">
									<select class="form-control" name="st_unit_flux_density" id="st_unit_flux_density">
										<option>W/m^2/um</option>
									</select>
								</div>
							</div>
						</div>
                        {% endcomment %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-9">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading"> <strong>Brightness: <a href="#" class="badge"> more info </a></strong></div>
					<div class="panel-body panel-default">
						<div class="row">
							<div class="col-md-6 col-xs-12 form-group form-inline">
								<div class="panel panel-info">
									<div class="panel-heading">
										<label for="spatial_integrated_brightness">Total source brightness</label>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-xs-3">
												<input type="number" step="0.2" min="5" max="30" class="form-control" id="spatial_integrated_brightness" name="spatial_integrated_brightness" placeholder="17.0" value="17.0" required errorMsg=" (Tab 'Astronomical Source Definition') ">
											</div>
											<div class="col-xs-5">
												<select class="form-control" name="mag_system" id="mag_system">
													<option value="Vega" selected>Vega</option>
													<option value="AB">AB</option>
												</select><span id="mag-units"> mag </span>
											</div>
											<div class="col-xs-4">
												<select class="form-control" name="band_flux" id="band_flux">
													<option value="B">Band B</option>
													<option value="V">Band V</option>
													<option value="R">Band R</option>
													<option value="I">Band I</option>
													<option value="J" selected>Band J</option>
													<option value="H">Band H</option>
													<option value="K">Band K</option>
												</select>
											</div>
											<input type="hidden" name="units_sib" value="Vega">
												{% comment %}
												<select class="form-control" name="units_sib" id="units_sib">
													<option value="Vega">Vega mag</option>
													<option value="AB">AB mag</option>
													{% <option value="wm2um">W/m<sup>2</sup>/&mu;m</option> %}
												</select>
												{% endcomment %}
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xs-12  form-group">
								<div class="panel panel-info">
									<div class="panel-heading">
										<label for="extinction"> <span class="hidden-lg">Ext. (Av)</span><span class="hidden-md hidden-xs">Extinction (Av)</span> </label><br/>
									</div>
									<div class="panel-body">
										<input type="number" class="form-control" id="extinction" name="extinction" placeholder="0" >
									</div>
								</div>
							</div>
							{% comment %}
							<div class="col-xs-12 col-md-5  form-group ">
								<div class="panel panel-info"> 
									<div class="panel-heading"><label>Filter (&mu;)</label></div>
									<div class="panel-body">
										<div class="col-md-6">
											<select class="form-control" name="band_flux" id="band_flux">
												<option value="B">Band B</option>
												<option value="V">Band V</option>
												<option value="R">Band R</option>
												<option value="I">Band I</option>
												<option value="J" selected>Band J</option>
												<option value="H">Band H</option>
												<option value="K">Band K</option>
											</select>
										</div>
										<div class="col-md-6">
											<input type="text" class="form-control" id="wavelength-band-flux" name="wl_band_flux" placeholder="2.2">
										</div>
									</div>
								</div>
							</div>
							{% endcomment %}
						</div>
						<div class="row">
							<div class="col-xs-12 col-md-6 form-group">
								<div class="panel panel-info panel-velocity-radio">
									<div class="panel-heading"> <input type="radio" class="form-radio-control" name="velocity_type" id="redshift" value="redshift" onclick="check_collapse_from_heading_class_v2(this, 'panel-info', 'panel-velocity-radio');" checked> <strong> Redshift (z) </strong></div>
									<div class="panel-body">
										<input type="number" step="0.1" class="form-control" id="redshift_value" name="redshift_value" placeholder="0.0">
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-6 ">
								<div class="panel panel-default panel-velocity-radio">
									<div class="panel-heading"> <input type="radio" name="velocity_type" id="radial_vel" value="radial_vel" onclick="check_collapse_from_heading_class_v2(this, 'panel-info', 'panel-velocity-radio');" > <strong> Radial Vel (Km/s) </strong></div>
									<div class="panel-body">
										<input type="number" step="1" class="form-control" id="radial_value" name="radial_value" placeholder="0.0" style="width:95%;"> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading"> <strong>Spatial profile: <a href="#" class="badge"> more info </a></strong></div>
					<div class="panel-body">
						<div class="col-xs-12 col-md-6">
							<input type="radio" name="source_type" id="point" value="point" checked onclick="$('#mag-units').html('mag');">
							<strong>Point source</strong>
						</div>
						<div class="col-xs-12 col-md-6">
							<input type="radio" name="source_type" id="extended" value="extended"  onclick="$('#mag-units').html('mag/(sq arcsec)');">
							<strong>Extended source (Uniform surface)</strong>
							<input type="hidden" name="radio2" id="radio2" value="option2">
							<input type="hidden" name="select3" value="magsqarcsec">
						</div>
							{% comment %}
							<div class="col-xs-12 col-md-6">
								<div class="panel panel-default panel-primary">
									<div class='panel-heading'>
										<input type="radio" name="source_type" id="point" value="point" checked onchange='check_extended_source()'>
										<strong>Point source</strong>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="panel panel-default">
									<div class="panel-heading">
										<input type="radio" name="source_type" id="extended" value="extended" onchange='check_extended_source()'>
										<strong>Extended source</strong>  
									</div>
									<div class="panel-body" id="extended_source">
										<div class='panel panel-default panel-primary' id='gaussian_section'>
											<div class="panel-heading">
												&nbsp;&nbsp;<input type="radio" name="radio2" id="radio2" value="option1" checked onchange="check_collapse_from_heading(this)">
												Gaussian profile 
											</div>
											<div class="panel-body">
												<span class='list-group'>
													<span class="list-group-item col-xs-12">
														Full width half maximum of 
														<input type="number" class="form-control" id="text2" name="text2" placeholder="1.0" style="width:100px;" max="30.0" min="0.0" step="0.10" >
														&nbsp;arcsec 
														<span class= "glyphicon glyphicon-question-sign" onclick="show_help(this);">&nbsp;<span class="text-info" style="display:none">Texto de Ayuda</span></span>
													</span>
												</span>
											</div>
										</div>
										<div class='panel panel-default' id='uniform_surface'>
											<div class="panel-heading">
												&nbsp;&nbsp;<input type="radio" name="radio2" id="radio2" value="option2" onchange="check_collapse_from_heading(this);">
												Uniform surface 
											</div>
											<div class='panel-body collapse'>
												<span class='list-group' >
													<span class='list-group-item'>
														Brightness <input type="text" class="form-control" id="text4" name="text4" placeholder="22.0" style="width:75px;">
														<select class="form-control" name="select3" id="select3">
															<option value="magsqarcsec">mag /(sq arcsec)</option>
															<option value="wm2um">W/m^2/um</option>
														</select>
														&nbsp;
														<span class= "glyphicon glyphicon-question-sign" onclick="show_help(this);">&nbsp;<span class="text-info" style="display:none">Texto de Ayuda</span></span>
													</span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endcomment %}
					</div>
				</div>
			</div>
			<div class="col-xs-10 col-md-11"> <input type="submit" class="btn btn-block btn-lg btn-warning" value="Calculate" /></div>
			<div class="col-xs-2 col-md-1"> <a class="btn btn-primary btn-block btn-lg" target="_blank" href="{% url 'docs-p1' %}"><i class="fa fa-question"></i></a></div>
		</div>
	</div>
</div>
<script>
	check_extended_source();
</script>
